//fonts
$base_font:"Montserrat",Arial, Helvetica, sans-serif;
$primary-font: 'Calibre-Regular', sans-serif;
$secondary-font: 'Calibre-SemiBold', sans-serif;
$tertiary-font: 'Calibre-Medium', sans-serif;

//colors
$primary:#7F7CFF;
$white:#FFFFFF;
$black: #000000;
$grey:#FAFAFA;
$grey2:#F1F1F1;
$gray:#C4C4C4;
$green: #00BF58;
$blue:#2D2B7E;
$purple: #7F7CFF;
$prurple2:#2D2B7E;
$title:#999999;
$orange:#f7931a;

//util
$event_bg:rgba(202, 204, 210, 0.571);