.ms {
    margin-top:2rem !important;
    margin-bottom:2rem !important;
}

.mb-xs {
    margin-bottom:1.5rem !important;
}

.mb-md {
    margin-bottom:3rem !important;
}

.mb-lg {
    margin-bottom:4rem !important;
}

.mb-xl {
    margin-bottom:6rem !important;
}

.ml-xs {
  margin-left:1.5rem !important;
}

.mr-xs {
  margin-right:1.5rem !important;
}

.pb-xs {
    padding-bottom:1.5rem !important;
}

.row {
    display:flex;
    flex-direction:row;
}

.col{
    display:flex;
    flex-direction:column;
}

